input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select {
	height: 48px;
	line-height: 48px;
}
input[type="checkbox"],
input[type="radio"] {
	width: auto;
}


input,
select,
textarea {
	display: inline-block;
	font-size: 0.875rem;
	background-color: var(--white);
	border: 1px solid var(--grey)!important;
	border-radius: 5px;
	padding: 0.75rem 1rem;
	width: 100%;
	color: var(--dark);
	&::-webkit-input-placeholder {
		color: var(--dark);
	}
	&::placeholder {
		color: var(--dark);
	}
}
input {
	outline: none;
	&:focus {
		border-color: var(--primary);
		background-color: var(--white) !important;
	}
	&:disabled,
	&[readonly] {
		background-color: #e9ecef;
		opacity: 1;
		cursor: not-allowed;
	}
}
input[type="number"]{
	padding: 0;
}

textarea {
	width: 100%;
	height: 90px !important;
	outline: none;
	&:focus {
		border-color: var(--primary) !important;
	}
}

label {
	display: inline-block;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 1 !important;
	margin-bottom: 0.75rem !important;
	color: var(--dark);
}

.quform { 
	.quform-submit {width: 100%;
		background-color: var(--primary);
		border: none;
		border-radius: 4px;
		color: #fff;
		font-size: 16px;
		padding: 12px;
	} 
}
.select2-container--default {
	.select2-selection--single {
		height: 48px;
		line-height: 48px;
		display: inline-block;
		font-size: 0.875rem;
		background-color: var(--white);
		border: 1px solid var(--grey);
		border-radius: 5px;
		padding: 0.6rem 0.5rem;
		width: 100%;
		color: var(--dark);
		.select2-selection__arrow {
			height: 48px;
			right: 8px;
		}
	}
}
.select2-dropdown {
	background-color: var(--white);
	border: 1px solid var(--grey);
	border-radius: 5px;
	color: var(--dark);
	font-size: 0.875rem;
}
.select2-search--dropdown {
	padding: 0.75rem;
	.select2-search__field {
		height: 34px;
		line-height: 34px;
		border: 1px solid var(--grey)!important;
	}
}

.wpcf7{
	direction: ltr!important;
}