.footer {
  background-color: var(--dark);
  @include media-md{
    margin-bottom: 62px;
  }
  &_top {
    padding: 50px 0 30px;
    .logo {
      border-bottom: 1px solid #665d5d;
      padding-bottom: 40px;
      margin-bottom: 40px;
      a {
        max-width: 120px;
        margin: 0 auto;
        display: block;
      }
    }
    .footer_items {
      display: flex;
      justify-content: center;
      @include media-md {
        flex-wrap: wrap;
      }
      .item {
        flex: 0 0 calc(100% / 3);
        max-width: calc(100% / 3);
        text-align: center;
        &:not(:last-child) {
          border-right: 1px solid #665d5d;
          margin-bottom: 30px;
        }
        @include media-md {
          flex: 0 0 50%;
          max-width: 50%;
        }
        @include media-sm {
          flex: 0 0 100%;
          max-width: 100%;
          border-right: none!important;
        }
        .social-icons {
          margin-top: 25px;
        }
        .call_us {
          li {
            a {
              display: flex;
              align-items: center;
              justify-content: center;
            }
            svg {
              width: 14px;
              height: 14px;
              margin-right: 5px;
            }
          }
        }
        h3,
        a,
        p {
          color: #fff;
        }
        a,
        p,
        svg {
          opacity: 0.7;
          font-size: 0.9375rem;
          line-height: 1.5;
        }
        a {
          &:hover {
            color: var(--primary);
            opacity: 1;
            svg {
              fill: var(--primary);
            }
          }
        }
        svg {
          fill: #fff;
          transition: all 0.3s ease;
        }
      }
    }
  }
  &_copyright {
    text-align: center;
    padding: 18px 0;
    p {
      color: #fff;
      opacity: 0.7;
      margin-bottom: 0;
    }
  }
}
