.social-icons {
  li {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 15px;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}
