.yith-wcwl-add-to-wishlist{
  margin-top: 0;
  line-height: 1;
  .yith-wcwl-add-button{
    width: 30px;
    height: 18px;
    overflow: hidden;
    display: block;
  }
  .yith-wcwl-icon {
    margin-left: 0 !important;
    color: var(--primary);
  }
}
