@media screen and (min-width: 768px) {
  .woocommerce #content div.product div.summary,
  .woocommerce div.product div.summary,
  .woocommerce-page #content div.product div.summary,
  .woocommerce-page div.product div.summary {
    float: left;
    width: 48%;
    clear: none;
  }

  .woocommerce #content div.product div.images,
  .woocommerce div.product div.images,
  .woocommerce-page #content div.product div.images,
  .woocommerce-page div.product div.images {
    float: right;
    width: 48%;
  }
}
.gallery-carousel img {
  height: 100%;
  width: 100%;
  max-height: 280px;
  object-fit: cover;
}

.woocommerce div.product p.price {
  font-size: 25px;
  font-weight: 600;
  color: var(--primary);
}

.woocommerce div.product p.price .woocommerce-Price-currencySymbol {
  font-size: 0.8em;
}

@media (max-width: 768px) {
  .header {
    background-color: var(--dark);
  }
	.header .header-actions ul li a svg {
  fill: #fff;
}
  .home-slider .swiper-slide {
    background-position: center;
  }
  .single-product #share_product,
  .single-product .header .header-actions ul li.menu {
    display: inline-block;
  }
	
.single-product #tabbar {
  display: block !important;
}
}

.single-product .related.products{
	padding-bottom: 40px
}

.app-menu_info {
  border-top: 1px solid var(--grey);
  padding: 15px 0;
}
.app-menu_info ul svg {
  width: 15px;
  vertical-align: middle;
  fill: var(--primary);
  margin-left: 5px;
}
.app-menu_info .contact_info li:not(last-child) {
  margin-bottom: 12px;
}
.app-menu_info .contact_info li a {
  font-size: 15px;
  font-weight: 600;

  line-height: 1;
}

.header.sticking 
,#tabbar {
  background-color: var(--dark);
}
.header.sticking .main-menu ul li a {
  color: #fff;
}
.header.sticking .header-actions ul li a svg,
#tabbar ul li svg{
  fill: #fff;
}

.header .main-menu ul li a:hover {
  color: var(--primary);
}
